@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply active:shadow-none;
}
.rounded {
  @apply h-12 w-12 rounded-full bg-gray-900 text-gray-700 shadow-sm shadow-black;
}
.square {
  @apply h-8 w-8 bg-gray-900 text-lg text-gray-700 shadow-sm shadow-black;
}
.ellipse {
  @apply h-4 w-12 rounded-full bg-gray-900 shadow-sm shadow-black;
}

/* トップディスプレイの Press A button 点滅 */
.flash {
  animation: flash 2s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
